/* Define variables */
:root {
  --navbar-height: 46px;
}

.App {
  text-align: center;
  margin-top: var(--navbar-height);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer {
  background-color: #ada8a8
}


a {
  color: rgb(142, 187, 255);
  text-decoration: none;
}

.footer a {
  color: #000;
}

a:hover {
  text-decoration: underline;
}



/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #000;

  height: var(--toolbar-height);
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement 
(as the navigation bar gets a new position at the top of the page (position:fixed and top:0) 
*/
/* .sticky + .content {
  padding-top: 100px;
} */